.year-holder{
    margin: 10% 20px 20px 15%;
    transition: all ease .5s;
}
.card {
    margin: 15px;
    transition: all ease .5s;
}
.card:hover{
    transform: translateY(-10px);
    transition: all ease .5s;
}
.label{
    color: rgb(126, 29, 29);
}
p{
    font-size: .9em;
}
.row .col{
    min-height: 150px
}